<!-- your html code here -->
<div class="p-5 text-center bg-image" style="
background-image: url('https://img.freepik.com/fotos-premium/imagen-banner-ciudad-noche_954932-1600.jpg');
background-repeat:no-repeat;
background-size: cover;
min-height: 900px;
max-width: 100%;
">
  <div class="container-fluid p-5">
    <div class=" justify-content-center align-items-center">
      <h1 class="display-1 fw-bold text-center bg-light">One Page Wonder</h1>
      <h2 class="display-3 fw-bold text-center bg-light">Will Knock Your Socks Off </h2>
    </div>
  </div>
</div>
    
    
=======
<div class="p-5 text-center bg-image" style="
      background-image: url('https://img.freepik.com/fotos-premium/imagen-banner-ciudad-noche_954932-1600.jpg');
      background-repeat:no-repeat;
      background-size: cover;
      min-height: 900px;
      max-width: 100%;
    ">
    <div class="container p-5">
      <div class=" justify-content-center align-items-center">
      <h1 class="display-1 fw-bold text-center bg-light">One Page Wonder</h1>
       <h2 class="display-3 fw-bold text-center bg-light">Will Knock Your Socks Off </h2>
        </div>
      </div>
  </div>

